<div class="container" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a ui-sref="home" class="navbar-brand">Unboxed PMs</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav" data-ng-show="menu.shouldRender(authentication.user);">
			<li data-ng-repeat="item in menu.items" data-ng-show="item.shouldRender(authentication.user);"
				ng-switch="item.menuItemType"
				class="{{item.menuItemClass}}"
			  dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle">
					<span data-ng-bind="item.title"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items" data-ng-show="subitem.shouldRender(authentication.user);">

						<a ng-if="!subitem.link"  ui-sref="{{subitem.route}}" data-ng-bind="subitem.title"></a>
						<a ng-if="subitem.link" ng-href="{{subitem.link}}"  ui-sref="{{subitem.route}}" data-ng-bind="subitem.title"></a>
					</li>
				</ul>
					<a ng-switch-default
						ng-if="item.route"
						ui-sref="{{item.route}}"
						data-ng-bind="item.title"></a>
					<a ng-switch-default
						ng-if="item.link"
						ng-href="{{item.link}}"
						data-ng-bind="item.title"></a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a ui-sref="profile">Edit Profile</a>
					</li>
					<li>
						<a ui-sref="accounts">Manage Social Accounts</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a ui-sref="password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
