<section data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <h1>Welcome {{authentication.user.username}}</h1>

    <div class="row">
      <p ng-if="!authentication.user">
        <a class="btn btn-danger btn-lg" ui-sref="signin">Login</a>
        <a class="btn btn-primary btn-lg" ui-sref="signup">Register</a>
      </p>
    </div>
    <div class='row text-center'>
      <rotating-plane-spinner class='spinInline color'></rotating-plane-spinner>
      <double-bounce-spinner class='spinInline color'></double-bounce-spinner>
      <wandering-cubes-spinner class='spinInline color'></wandering-cubes-spinner>
      <pulse-spinner class='spinInline color'></pulse-spinner>
      <chasing-dots-spinner class='spinInline color'></chasing-dots-spinner>
      <circle-spinner class='spinInline'></circle-spinner>
    </div>
  </div>
</section>
