.content {
	margin-top: 50px;
	margin-bottom: 50px;
}
.dropdown-toggle {
		cursor: pointer;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.mt-25{
	margin-top: 25px;
}
.pl-5{
	padding-left: 5px;
}
#loading-bar .bar{
	top: inherit;

	bottom: 0px;
	height: 5px;
}

#loading-bar-spinner {
	/*override*/
	top: inherit;
	left: inherit;

	bottom: 10px;
	right: 10px;
	height: 5px;
}
.ta-center{
	text-align:center;
}

.spinInline.color div:nth-child(2){
	background-color: #acd;
}

.spinInline{
	display: inline-block;
	width: 100px;
}

/* you can also define the transition style
   on the base class as well (.animate-enter) */
.animate-enter.ng-enter,
.animate-enter.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.animate-enter.ng-enter,
.animate-enter.ng-leave.ng-leave-active {
  opacity:0;
}
.animate-enter.ng-leave,
.animate-enter.ng-enter.ng-enter-active {
  opacity:1;
}




/* loading directive */

.loading-spinner {
	display: inline-block;
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}


.loading-spinner.ng-enter,
.loading-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}


.loading-spinner.ng-enter.ng-enter-active,
.loading-spinner.ng-leave {
  opacity: 1;
}

.loading-spinner .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #29d;
  border-left-color: #29d;
  border-radius: 10px;

  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}

/* end loading */

.pr{
	position: realtive;
}
.image-map{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 500px;
	height: 500px;

}
