<section>
	<a ui-sref=".^">Back</a>
	<form class="form-horizontal" name='myForm' role="form">
		<div class="form-group has-success has-feedback">
			<input placeholder="Persona Name" name="name" required="" type="text" ng-model="persona.name" class="form-control col-sm-4 ">
			<span ng-if="myForm.name.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
		</div>
		<button class="btn btn-success" ng-click="save()">Let's go!</button>
	</form>

</section>
