<section>
  <a ui-sref=".^">Back</a>
  <div class='well'>
    <a editable-textarea="persona.name" onbeforesave="validate('name', $data)" onaftersave="saveField('name', $data)" e-style="width: 100%;">
      <pre>{{ persona.name || '--No Name--' }}</pre>
    </a>
  </div>

  <article class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Mission Critical</h3>
      <div class="panel-description">What makes this product mission critical for me?</div>
    </div>
    <div class="panel-body">
      <a editable-textarea="persona.mission" onbeforesave="validate('mission', $data)" onaftersave="saveField('mission', $data)" e-style="width: 100%;">
        <pre>{{ persona.mission || '--No mission --' }}</pre>
      </a>
    </div>

  </article>

  <article class="panel panel-default" >
    <div class="panel-heading">
      <h3 class="panel-title">Description</h3>
      <div class="panel-description">Who is your user persona and what are their demographics?</div>
    </div>
    <div class="panel-body">
      <a editable-textarea="persona.description" onbeforesave="validate('description', $data)" onaftersave="saveField('description', $data)" e-style="width: 100%;">
        <pre>{{ persona.description || '--No description --' }}</pre>
        </a>
    </div>

  </article>

  <article class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Behaviors</h3>
      <div class="panel-description">
        What behaviors or attitudes does your user persona have? What do they do in their day-to-day lives and what are their likes and dislikes?</div>
    </div>
    <div class="panel-body">
      <div ng-repeat="behavoir in persona.behaviors" class="clearfix" style="margin-bottom:10px;">
        <a editable-textarea="behavoir.description" onbeforesave="validate('behavoir', $data)" onaftersave="saveField('behavoir', $data)" e-style="width: 100%;">
          <pre>{{ behavoir.description || '--No behavoir description --' }}</pre>
          </a>
      </div>
      <div>
        <i class="fa fa-plus fa-2x" ng-click="persona.behaviors.push({})" />
      </div>
    </div>
  </article>

  <article class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Goals</h3>
      <div class="panel-description">
        What does your user persona want to achieve??</div>
    </div>
    <div class="panel-body">
      <div ng-repeat="goal in persona.goals" class="clearfix" style="margin-bottom:10px;">
        <a editable-textarea="goal.description" onbeforesave="validate('goal', $data)" onaftersave="saveField('goal', $data)" e-style="width: 100%;">
          <pre>{{ goal.description || '--No goal description --' }}</pre>
          </a>
      </div>
      <div>
        <i class="fa fa-plus fa-2x" ng-click="persona.goals.push({})" />
      </div>
    </div>
  </article>

  <article class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Frustrations</h3>
      <div class="panel-description">
        What is your user persona not so great at, and what keeps them from reaching their goals?</div>
    </div>
    <div class="panel-body">
      <div ng-repeat="frustration in persona.frustrations" class="clearfix" style="margin-bottom:10px;">
        <a editable-textarea="frustration.description" onbeforesave="validate('frustration', $data)" onaftersave="saveField('frustration', $data)" e-style="width: 100%;">
          <pre>{{ frustration.description || '--No frustration description --' }}</pre>
          </a>
      </div>
      <div>
        <i class="fa fa-plus fa-2x" ng-click="persona.frustrations.push({})" />
      </div>
    </div>
  </article>

</section>
