<section data-ng-init="find()">
	<div class="page-header">
		<h1>Projects</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="project in projects" data-ui-sref="admin.project._view({projectId: project._id})" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="project.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="project.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="project.title"></h4>
			<p class="list-group-item-text" data-ng-bind="project.content"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="projects.$resolved && !projects.length">
		No projects yet, why don't you <a ui-sref="admin.project.create">create one</a>?
	</div>
</section>
