<section  data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="project.title"></h1>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" ui-sref="^.edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="project.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="project.user.displayName"></span>
		</em>
	</small>
	<p class="lead" data-ng-bind="project.weeklyCapacity"></p>

</section>
