<section>
  <div class="page-header" ng-if="!product._id">
    <form class="form-horizontal" name='myForm' role="form">
      <div class="form-group has-success has-feedback">
        <input placeholder="Product Name" name="name" required="" type="text" ng-model="product.name" class="form-control col-sm-4 ">
        <span ng-if="myForm.name.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
      </div>
      <button class="btn btn-success" ng-click="save()">Let's go!</button>
    </form>
  </div>
  <div ng-if="product._id">
    <h1>{{product.name}}</h1>
    <section ng-show="$state.is('product.show')">

      <article class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Product Vision</h3>
          <div class="panel-description">Blah, blah, blah. Something about why you would write a product vision goes here</div>
        </div>
        <div class="panel-body">
          <a editable-textarea="product.vision" onbeforesave="validate('vision', $data)" onaftersave="save('vision', $data)" e-style="width: 100%;">
            <pre>{{ product.vision || 'no vision' }}</pre>
          </a>
        </div>
      </article>


      <article class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Target Customer{{product.personas > 1 ? '(s)' : ''}}</h3>
          <div class="panel-description">Blah, blah, blah. Something about how we write about customers here.</div>
        </div>
        <div class="panel-body">
          <div ng-repeat="persona in product.personas|orderBy:'sortOrder'" class="clearfix" style="margin-bottom:10px;">
            <div>
              <h4>{{persona.name}}</h4>
              <div>{{persona.description}}</div>
              <a class="text-success pull-right" ui-sref="product.show.persona({personaID: persona._id})">Edit</a>
            </div>
          </div>
          <div>
            <i class="fa fa-plus fa-2x" ui-sref="product.show.newpersona" />
          </div>
        </div>
      </article>


      <article class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Problems</h3>
          <div class="panel-description">What we're solving and/or goal we hope to achieve with this product</div>
        </div>
        <div class="panel-body">
          <div ng-repeat="problem in product.problems" class="clearfix" style="margin-bottom:10px;">
            <span editable-textarea="problem.description" onbeforesave="validate('problem', $data, problem)" onaftersave="save('problem', $data, problem)" e-style="width: 100%;">

						<pre>{{ problem.description || '-- Enter Problem  --' }}</pre>

					</span>
          </div>
          <div>
            <i class="fa fa-plus fa-2x" ng-click="product.problems.push({})" />
          </div>
        </div>
      </article>


      <article class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Features</h3>
          <div class="panel-description">Top 10 product features in customer-friendly language</div>
        </div>
        <div class="panel-body">
          <div ng-repeat="feature in product.features|orderBy:'sortOrder'" <div ng-repeat="feature in product.features|orderBy:'sortOrder'" class="clearfix" style="margin-bottom:10px;">
            <span editable-textarea="feature.title" onbeforesave="validate('feature', $data, feature)" onaftersave="save('feature', $data, problem)" e-style="width: 100%;">

						<h4>Title: {{feature.title}}</h4>

					</span>
            <span editable-textarea="feature.description" onbeforesave="validate('feature', $data, problem)" onaftersave="save('feature', $data, problem)" e-style="width: 100%;">

						<div>{{feature.description || 'enter description'}}</div>

					</span>
          </div>
          <div>
            <i class="fa fa-plus fa-2x" ng-click="product.features.push({})" />
          </div>
        </div>
      </article>


      <article class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Enhancements</h3>
          <div class="panel-description">Top 10 enhancements we want to make</div>
        </div>
        <div class="panel-body">
          <div ng-repeat="enhancement in product.enhancements|orderBy:'sortOrder'" class="clearfix" style="margin-bottom:10px;">
            <span editable-textarea="enhancement.title" onbeforesave="validate('enhancement', $data, problem)" onaftersave="save('enhancement', $data, problem)" e-style="width: 100%;">

					<h4>Title: {{enhancement.title}}</h4>

				</span>
            <span editable-textarea="enhancement.description" onbeforesave="validate('enhancement', $data, problem)" onaftersave="save('enhancement', $data, problem)" e-style="width: 100%;">

				<div>{{enhancement.description || 'enter description'}}</div>

			</span>

          </div>
          <div>
            <i class="fa fa-plus fa-2x" ng-click="product.enhancements.push({})" />
          </div>
        </div>
      </article>

      <article class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">R.O.I.</h3>
          <div class="panel-description">Revenue & profit impact for Unboxed in 2015</div>
        </div>
        <div class="panel-body">
          <div class="panel-body">
            <a editable-number="product.roi" onbeforesave="validate('roi', $data)" onaftersave="save('roi', $data)" e-style="width: 100%;">
              <span>{{ product.roi || 'Enter ROI' }}</span>
            </a>
          </div>
        </div>
      </article>
    </section>
  </div>

</section>
<section ui-view>
</section>
