<section>
	<h1 class="page-header">Products </h1>
	<div ng-repeat="product in products">
		<div>
			<a ui-sref="product.show({id: product._id})"> {{product.name}}</a>
		</div>
	</div>
	<div  class="well clearfix">
		<div class="pull-right ">
				<a ui-sref="product.show"><i class="fa fa-plus fa-4x" /></a>
		</div>
	</div>
</section>
