<section class="row" data-ng-controller="SettingsController">
	<h3 class="col-md-12 text-center">Edit your profile</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form  class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Username">
				</div>

				<div>
					<h2>Roles</h2>
					<ul>
						<li ng-repeat="r in user.roles">{{r}}</li>
					</ul>
					<div class="text-center form-group">
					<input ng-model="tempRole" ></input>
					<button class="btn" ng-click="addRole(tempRole)">Add</button>
				</div>
				</div>
					<div class="text-center form-group">
						<button type="submit" data-ng-click="updateUserProfile()" class="btn btn-large btn-primary">Save Profile</button>
					</div>
					<div data-ng-show="success" class="text-center text-success">
						<strong>Profile Saved Successfully</strong>
					</div>
					<div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
			</fieldset>
		</form>
	</div>
</section>
